<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHlP0EJAdr5M_B-Ij3TBK_eU2P8jYscoc</string>
	<key>GCM_SENDER_ID</key>
	<string>743517527640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodApp</string>
	<key>PROJECT_ID</key>
	<string>sfauthone-eecdb</string>
	<key>STORAGE_BUCKET</key>
	<string>sfauthone-eecdb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743517527640:ios:7bc4bf1c4c4e7578b4f42d</string>
</dict>
</plist>